.checkout {
  padding: 20px;
  display: grid;
  gap: 15px;
  grid-template-columns: 5fr 1.5fr;
}
.checkout hr {
  border-color: #eee;
}

.checkout_items {
  background: #fff;
}
.checkout_heading {
  font-size: 28px;
  font-weight: 400;
  margin-top: 20px;
  text-align: start;
  padding: 0 15px;
}
.checkout_heading + p {
  text-align: right;
  padding: 0 15px;
}
.checkout_proceed {
  padding: 10px;
  background-color: #fff;
  height: fit-content;
  text-align: start;
}

.checkout_sub-heading {
  font-size: 22px;
  font-weight: 400;
  margin-top: 20px;
}
.checkout_total-price {
  font-size: 1.5rem;
}

.checkout_proceed button {
  background: linear-gradient(180deg, #f3d286 0%, #f0c14d 100%);
  border-color: #a88734 #9c7e31 #846a29;
  outline: none;
  margin: 10px 0;
  margin-top: 20px;
  padding: 5px;
  border-radius: 3px;
  border-style: solid;
  border-width: 1px;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  text-decoration: none !important;
  vertical-align: middle;
  width: 200px;
}
.checkout_proceed button:hover {
  background: linear-gradient(180deg, #f0c14be0 0%, #f0c14b 100%);
}

@media (max-width: 769px) {
  .checkout {
    grid-template-columns: 1fr;
  }
  .checkout_proceed {
    margin-left: auto;
    width: 250px;
  }
}
