.checkout-item {
  display: grid;
  grid-template-columns: 2fr 4fr 1fr;
  column-gap: 10px;
  margin: 10px 0;
  background: #fff;
  padding: 10px;
}

.checkout-item_desc {
  min-width: 250px;
  text-align: start;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.checkout-item_desc a {
  color: rgb(28, 94, 236);
  font-size: 1.3rem;
  font-weight: bold;
  text-decoration: none;
}
.checkout-item_title {
  max-height: 85px;
  overflow: hidden;
}
.checkout-item_desc a:hover {
  text-decoration: underline;
}
.checkout-item_desc p {
  margin-top: 10px;
  color: green;
  font-size: 0.8rem;
}
.checkout-item_qty {
  display: flex;
  align-items: center;
}
.checkout-item_qty button {
  margin: 5px;
  padding: 0 3px;
  outline: none;
  font-size: 1rem;
  cursor: pointer;
}

.checkout-item_image img {
  width: 150px;
  height: 200px;
  object-fit: contain;
}
.checkout-item_delete {
  width: 150px;
  background: linear-gradient(180deg, #f3d286 0%, #f0c14d 100%);
  border-color: #a88734 #9c7e31 #846a29;
  outline: none;
  padding: 5px;
  border-radius: 3px;
  border-style: solid;
  border-width: 1px;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
}
.checkout-item_delete:hover {
  background: linear-gradient(180deg, #f0c14be0 0%, #f0c14b 100%);
}
