.home {
  width: 100%;
}

.home_row {
  max-width: 1500px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-end;
  margin: auto;
}

@media (max-width: 768px) {
  .home_banner {
    margin-bottom: -100px;
  }
}
