.home {
  width: 100%;
}
.home_banner {
  max-width: 1500px;
  width: 100%;
  display: block;
  margin: auto;
  mask-image: linear-gradient(
    to bottom,
    rgba(54, 546, 79, 1),
    rgba(65, 8, 15, 0)
  );
  margin-bottom: -150px;
}
.home_row {
  max-width: 1500px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-end;
  margin: auto;
}

@media (max-width: 768px) {
  .home_banner {
    margin-bottom: -100px;
  }
}
