
.login{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px;
    margin: 0 auto;
    font-family: 'Source Sans Pro', sans-serif;
}
.login_logo{
    margin: 1rem;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
}
.login_logo img{
    width: 110px;
}
.login_logo span{
    position: absolute;
    top: 0.1rem;
    color: black;
}
.login_login{
    padding: 2rem;
    padding-bottom: 1rem;
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 23rem;
    border: 0.1px solid rgb(182, 180, 180);
    border-radius: 5px;
}
.login a{
    text-decoration: none;
    color: #0066c0;
}
.login h2{
    padding-bottom: 1.5rem;
}
.login_login span{
    font-size: 0.9rem;
    font-weight: bolder;
}
.login_login input{
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
    height: 1.8rem;
    border: 1px solid rgb(139, 138, 138);
    border-radius: 3px;
}
.login_login button{
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
    height: 1.8rem;
    background: rgb(253, 197, 92);
    border: 1px solid rgb(158, 149, 149);
    border-radius: 3px;
}
.login_login p{
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    font-weight: lighter;
    font-size: small;
}
.login_login i{
    color: rgb(92, 90, 90);
}
.login_break{
    position: relative;
    display: flex;
    justify-content: center;
    margin: 0.5rem;
    margin-top: 1.3rem;
    color: rgb(141, 138, 138);
    font-size: small;
}
.login_create-account{
    width: 23rem;
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
    height: 1.8rem;
    background: rgb(224, 223, 223);
    border: 1px solid rgb(158, 149, 149);
    border-radius: 3px;
}
.login_footer{
  margin-top: 1rem;
  width: 100%;
  text-align: center;
  border-top: 2px solid rgb(218, 214, 214);
  font-size: 0.8rem;
}
.login_footer-links{
    display: flex;
    justify-content: center;
    margin: 0.4rem;
}
.login_footer-links a{
    margin: 0.5rem;
}
