.navbar_navTop {
  display: flex;
  flex-direction: column;
  width: 100%;

  font-family: "Ubuntu", sans-serif;
  z-index: 100;
}

.navbar_navbar-container {
  width: 100%;
}

.navbar_navbar {
  background: #0f1111;
  transition: 0.4s;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
  font-size: 0.85rem;
}
.navbar_navbar a{
  text-decoration: none;
}
.navbar_fixed {
  width: 100%;
  margin-bottom: 5rem;
  position: fixed;
  top: 0;
}
.navbar_logo img {
  width: 100px;
  cursor: pointer;
}

.navbar_logo {
  position: relative;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 8px;
  left: -5px;
  margin: 15px 20px;
}

.navbar_logo span {
  position: absolute;
  bottom: 1.2rem;
  color: white;
  text-decoration: none;
}
.navbar_search-bar {
  display: flex;
  flex: 1;
  align-items: center;
}
.navbar_search-bar input {
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  padding: 10px;
}
.navbar_search-bar i {
  background: rgb(253, 197, 92);
  padding: 10px;
  height: 36.5px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  outline: rgb(253, 197, 92);
}
.navbar_options {
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
  cursor: pointer;
}

.navbar_firstLine {
  color: #cac7c7;
}
.hello {
  padding-left: 12px;
}

.navbar_secondLine {
  color: white;
  font-weight: bolder;
  text-decoration: none;
  float: left;
}
.navbar_link {
  color: rgb(248, 245, 245);
  padding: 0 10px;
  text-decoration: none;
}

.navbar_dropdown {
  height: 36.5px;
  width: 3rem;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  background: rgb(241, 239, 239);
  text-decoration: none;
  outline-style: none;
  text-underline-offset: none;
}

.navbar_lang {
  color: white;
}
.navbar_Cart {
  align-items: center;
}
.navbar_cart-item {
  font-size: 1.2rem;
  font-weight: bolder;
  color: orange;
}

.navbar_cart {
  font-size: 1.8rem;
}
.navbar_navBottom {
  display: flex;
  width: 100%;
  background: #252929;
  align-items: center;
}
.navbar_left {
  display: flex;
  margin: 0.8rem;
  color: white;
}

.navbar_burger {
  margin-right: 0.4rem;
}
.navbar_middle {
  margin: 0.5rem;
  display: flex;
  justify-content: space-evenly;
}
.navbar_item a{
  text-decoration: none;
}
.navbar_item span {
  text-decoration: none;
  color: white;
  margin: 0.5rem;
}
.navbar_ads{
  position: absolute;
  right: 2rem;
}
