.product {
  min-width: 300px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  background-color: #fff;
  margin: 15px 10px;
  z-index: 10;
}
.product_title {
  font-size: 1.2rem;
  max-width: 300px;
}
.product img {
  object-fit: contain;
  width: 100%;
  max-height: 200px;
  margin: 15px 0;
}
.product button {
  background: #f0c14b;
  border-color: #a88734 #9c7e31 #f0c14b;
  outline: none;
}
