.product {
  width: 300px;
  height: 400px;
  max-width: 350px;
  max-height: 450px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  background-color: rgb(255, 255, 255);
  margin: 15px 10px;
  z-index: 10;
  text-align: start;
}
.product_price {
  font-size: 1.2rem;
}
.product_price span {
  font-size: 1.5rem;
}
.product_title {
  font-size: 1.2rem;
  color: rgb(28, 94, 236);
  max-width: 270px;
  max-height: 80px;
  overflow: hidden;
}
.product img {
  object-fit: contain;
  margin: 10px 0;
  width: 170px;
  height: 200px;
  margin: auto;
}
.product button {
  background: linear-gradient(180deg, #f3d286 0%, #f0c14d 100%);
  border-color: #a88734 #9c7e31 #846a29;
  outline: none;
  margin: 10px 0;
  padding: 5px;
  border-radius: 3px;
  border-style: solid;
  border-width: 1px;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  text-decoration: none !important;
  vertical-align: middle;
}
.product button:hover {
  background: linear-gradient(180deg, #f0c14be0 0%, #f0c14b 100%);
}
